* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1355px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-image: url(img/header-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 87px;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  line-height: 68.4px;
  font-family: "Playfair Display", serif;
}
.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-img {
  margin-right: 23px;
  width: 24px;
  height: 24px;
}
.btn {
  width: 181px;
  border-radius: 48px;
  background-color: #00c9e0;
  border: none;
  padding: 20px 58px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.09px;
  color: #ffffff;
  letter-spacing: 10%;
  font-family: "Playfair Display", serif;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #00c9e0;
}
.header-text {
  width: 643px;
  text-align: center;
  margin-top: 156px;
}
.header-title {
  font-weight: 700;
  font-size: 120px;
  line-height: 153.12px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  width: 632px;
  margin-bottom: 14px;
}
.header-text-trip {
  font-weight: 700;
  font-family: monospace;
  font-size: 18px;
  line-height: 23.72px;
  letter-spacing: 2px;
  color: #ffffff;
  width: 632px;
  margin-bottom: 50px;
}
.header-about-text {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-footer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-top: 132px;
}
.header-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}
.header-box-text {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  letter-spacing: 2px;
  color: #ffffff90;
  transform: rotate(-90deg);
}
.search-img {
  position: absolute;
  top: 0px;
  left: 0;
}
